VITE_API_URL=https://id-information-extraction-system.onrender.com
VITE_AUTH0_DOMAIN=dev-vp2ceotij85kazpg.us.auth0.com
VITE_AUTH0_CLIENT_ID=VvXDV9fDzDiVE4Bx8PIVte1sdYncZarK
VITE_AUTH0_AUDIENCE=https://id-information-extraction-api
